

html {
	margin: 0;
	padding: 0;
	background: #355584 url(../images/bg.jpg) center top repeat;
}

body {
	width: 940px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}

nav {
	font: 12pt Helvetica,"Helvetica neue", Arial, sans-serif;

	color: #ffffff;
	padding-bottom: 10px;
	width: 356px;
}
nav h3 {
	text-transform: uppercase;
}
aside{
	float: left;
	width: 356px;
	min-height: 292px;
	margin: 0 0 20px 0;
}

section{
	float: right;
	width: 428px;
	padding: 20px;
	margin: 0 0 20px 0px;
	border-left: 2px dotted #b2a497;
	background-color:#ffffff;
	
	
	/*Round corners*/
	-moz-border-radius: 12px; /* FF1+ */
  	-webkit-border-radius: 12px; /* Saf3+, Chrome */
    border-radius: 12px; /* Opera 10.5, IE 9 */


}

section h2 {
	font: 14pt Helvetica,"Helvetica neue", Arial, sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	color: #355584;
	padding-bottom: 10px;
	margin: 0;
}

footer{
	clear:both !important;
	width:940px;
	height: 100px;
	padding: 10px;
	color:#ffffff ;
	background:#355584;
	
	/*Opacity*/
	filter:alpha(opacity=50); /* msie */  
    -moz-opacity: 0.50; /* firefox 1.0 */  
    -khtml-opacity: 0.50; /* webkit */  
    opacity: 0.50; /* css 3 */
    
    	
	
}
/*Headings*/
h1 {
	font: 32pt Helvetica,"Helvetica neue", Arial, sans-serif;
	/*background: url(../images/header-bg.png) center top no-repeat;*/
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 30px ;
	text-shadow: 1px 1px 2px #fff; 
}

a:link { 
	font:10pt normal Helvetica,"Helvetica neue", Arial, sans-serif;
	color:#ffffff;
	text-decoration:none;
	border-bottom: 1px solid #355584;
}

a:visited {
	color:#b5d0f8;
}

a:hover {
	color:#ebf363;
}

a img {
	border:none;
}